{% extends 'checkbook_base.html' %}
{% block title %}Balance Sheet{% endblock %}
{% block content %}
			<div id="all-transactions-form">
				<form> 
					<br>
					<!-- Use value to add the Django populated details-->
					<label>Account Holder:</label>
					<input id="accountholder" type="text" name="accountHolder" value="{{ account }}" readonly><br><br>
					<label>Current Balance:</label>
					<input id="balance" type="text" name="currentBalance" value="{{ balance }}" readonly>
					<!-- Add link to href to make this button work -->
					<button type="button"><a href="{% url 'transaction' %}">Add Transaction+</a></button>
				</form>
				<br><br>
			</div>
			<h2>RECENT TRANSACTIONS</h2>

			<table class="table table-responsive" id="transactions-table">
				<tr id="headerRow">
					<th>Date</th>
					<th>Type</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Balance</th>
				</tr>
				{% for transaction in transactions %}
				<tr>
					<td class="center">{{ transaction.date }}</td>
					<td class="center">{{ transaction.type }}</td>
					<td class="left">{{ transaction.description }}</td>
					<td class="right">{{ transaction.amount }}</td>
					<td class="right">{{ transaction.balance }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="5" class="center">No transactions available</td>
				</tr>
				{% endfor %}
			</table>						
{% endblock %}

